---
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
 <link rel = "stylesheet" href = "{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <div class="container-header">
      <img
      src="{{ 'assets/ChatGPT Image 2025年4月27日 15_02_24.png' | relative_url }}"
      class="header-img"
      alt="英語ブログ専門チャンネル">
      
      <nav class="category-nav-wrapper">
  <ul class="category-nav">
    <li><a href="/tags/幼児/">幼児教育</a></li>
    <li><a href="/tags/高校受験/">高校受験</a></li>
    <li><a href="/tags/大学受験/">大学受験</a></li>
    <li><a href="/tags/大学生社会人/">大学生･社会人</a></li>
  </ul>
</nav>

    </div>
  </header>

  <div class="container">
    <main class="content">
      <article>
        <h2>{{page.title}}</h2>

        {% if page.thumbnail %}
         <img src = "{{ page.thumbnail | relative_url }}" alt="{{ page.title }}" class = "thumbnail">
        {% endif %}
        
        {{ content }}

        <h3>おすすめ教材</h3>
        <p>リンクや商品の写真をここに配置します。</p>
      </article>
    </main>

    <aside class="sidebar">
      <h3>過去の記事</h3>
      <div>
        <a href="#"><img src="assets/ChatGPT Image 2025年4月23日 23_00_28.png" height="210" width="300" alt="VO2maxを高める英語勉強の休憩法"></a>
      </div>
      <ul class="post-list">
  {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url | relative_url }}">
        {% if post.thumbnail %}
          <img src="{{ post.thumbnail | relative_url }}" alt="{{ post.title }}" class="sidebar-thumbnail">
        {% endif %}
        {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>

    </aside>
  </div>

  <footer>
    <div class="container">
      <small>&copy; 2025 EnglishBlog-Studying.com</small>
    </div>
  </footer>
</body>
</html>
